nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  align-items: center;

  li {
    list-style: none;
}}

.leftHead {
  text-align: left;
}

.centerHead {
  text-align: center;
}

.navMenu {
  display: flex;
  flex-direction: row-reverse;
}

.navMenu li {
  margin-left: 5px;
  margin-right: 5px;
}